<!-- Contactus Section -->
    <section  id="registration">
    

    
<div class="container">
						<center><h3>Registration Here</h3></center><br><br>
						<div class="touch-grids">
							
						</div>
					</div>
<div class="footer">
	<div class="container">
		<div class="footer-top">
			
		</div>
	</div>
</div>
<center><%= render "registrations/form"%></center>



